a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  bottom: 20px;
}

.previous {
  left: 20px;
  background-color: #ffc979;
  color: black;
}

.next {
  right: 20px;

  background-color: #ffc979;
  color: rgb(0, 0, 0);
}

.round {
  border-radius: 50%;
}