.image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

img {
  width: 25vw;
  display: block;
  border-radius: 35px;
  border-width: 10px;
  border-color: black;
  border-style: dashed;

}

h1 {
  text-align: center;
  font-size: 95px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  text-align: center;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}